<template>
  <!-- Page Content -->
  <div class="container">
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
          <!-- <img src="" id="icon" alt="User Icon"> -->
          <h2>Change Password</h2>
        </div>

        <!-- Login Form -->
        <form>
          <input
            type="password"
            id="oldpassword"
            class="fadeIn second"
            name="oldpassword"
            placeholder="Old Password"
            v-model="oldPassword"
          >
          <input
            type="password"
            id="newpassword"
            class="fadeIn third"
            name="newpassword"
            placeholder="New Password"
            v-model="newPassword"
          >
          <input
            type="password"
            id="confirmpassword"
            class="fadeIn third"
            name="confirmpassword"
            placeholder="Confirm Password"
            v-model="confirmPassword"
          >
          <br>
          <input type="submit" class="fadeIn fourth" value="Confirm" @click.prevent="submitRequest">
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "change-password",
  data() {
    return {
      oldPassword: "",
      newPassword: "",
      confirmPassword: ""
    };
  },
  methods: {
    submitRequest: function() {
      var _this = this;
      if (
        this.oldPassword >= 6 &&
        this.newPassword >= 6 &&
        this.newPassword == this.confirmPassword
      ) {
        this.$apiservice
          .reqApi("/changePassword")
          .post({
            old_password: _this.oldPassword,
            new_password: _this.newPassword
          })
          .then(function(data) {
            if (data.status == 201) {
              swal({
                title: "Success",
                text: "Password Changed Successfully",
                icon: "success",
                type: "success",
                button: false,
                timer: 1500
              }).then(function() {});
            }
          })
          .catch(function(error) {
            console.log(error.response);
            swal({
              title: "Failed",
              text: "Password Changed Failed",
              icon: "error",
              type: "error",
              button: false,
              timer: 1500
            }).then(function() {});
          });
      } else {
        swal({
          title: "Failed",
          text: "Insert Password Correcly & Make Sure Lenght Is Atleast 6",
          icon: "error",
          type: "error",
          button: false,
          timer: 1500
        });
      }
    }
  }
};
</script>

<style scoped>
/* BASIC */
html {
  background-color: #56baed;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #39ace7;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type="password"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type="password"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type="password"]:placeholder {
  color: #cccccc;
}

/* OTHERS */

*:focus {
  outline: none;
}

#icon {
  width: 60%;
}
</style>