<template>
  <div>
    <section class>
      <div class="container-fluid">
        <div class="row">
          <div class="container-fluid text-left" id="imageview">
            <div class="container">
              <img :src="require('@/assets/images/660769.png')" width="30px" class="img">
              <span class="view">Image Review</span>
              <!-- <span style="color: #ffffff">( User's Shift Started at: <strong>{{getShiftTime}}</strong>, Number of Images Reviewed: <strong>{{violationData.images_reviewed_in_session}}</strong> )</span> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="imageReview" class>
      <div class="container-fluid mb-3">
        <div class="row">
          <div class="col-md-2 d-flex align-items-stretch ml-5 mr-md-3">
            <div class="card text-center bg-primary text-white">
              <div class="card-body">
                <div>
                  User's Shift Started at:
                  <br>
                  <strong>{{getShiftTime}}</strong>
                </div>
                <div id="para1"></div>
                <h6>
                  <br>Number of Images Reviewed
                </h6>
                <h6 class="display-6">
                  <strong>{{violationData.images_reviewed_in_session}}</strong>
                </h6>
              </div>
            </div>
          </div>
          <div class="col-md-7 p-0">
            <img-list :images="violationData.images"/>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 ml-5 text-left pt-2" id="imgZoom">
            <v-zoom
              :img="'https://ir.latticeit.co.za'+$store.getters.getSelectedImg"
              :width="zoomImgWidth"
            ></v-zoom>
          </div>
          <div class="col-md-4 pl-0">
            <div class="card" style="width: 15rem;">
              <h5 class="card-title" style="text-align: center">Region of Interest</h5>
              <img :src="require('@/assets/images/roi.png')">
            </div>
            <form>
              <table class="table table-borderless mt-2" v-if="formReady">
                <thead class="thead-dark">
                  <tr class="d-flex flex-row">
                    <th class="col">Plate Number</th>
                    <th class="col">Plate State</th>
                    <th class="col">Plate Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="d-flex flex-row">
                    <td>
                      <input
                        type="text"
                        v-if="violationData.access[0].access"
                        class="form-control input-size"
                        id="numberPlate"
                        placeholder="Plate Number"
                        :value="violationData.ocr_plate_number"
                        disabled="true"
                      >
                    </td>
                    <td>
                      <input
                        type="text"
                        v-if="violationData.access[1].access"
                        class="form-control input-size"
                        id="plateState"
                        placeholder="Plate State"
                        :value="violationData.ocr_plate_state_full_name"
                        disabled="true"
                      >
                    </td>
                    <td>
                      <input
                        type="text"
                        v-if="violationData.access[2].access"
                        class="form-control input-size"
                        id="plateType"
                        placeholder="Plate Type"
                        :value="violationData.ocr_plate_type_name"
                        disabled="true"
                      >
                    </td>
                  </tr>
                  <tr class="d-flex flex-row">
                    <td>
                      <input
                        type="text"
                        v-if="violationData.access[0].access"
                        class="form-control input-size"
                        id="plate"
                        placeholder="Plate Number"
                        v-model="plate_number"
                      >
                    </td>
                    <td>
                      <select
                        class="form-control input-size"
                        v-if="violationData.access[1].access"
                        id="state"
                        v-model="plate_state_id"
                      >
                        <option value>Select a State</option>
                        <option
                          :selected="violationData.ocr_plate_state_id==state.state_id"
                          v-for="state in states"
                          :key="state.state_id"
                          :value="state.state_id"
                        >{{state.state_full_name}}</option>
                      </select>
                    </td>
                    <td>
                      <select
                        class="form-control input-size"
                        v-if="violationData.access[2].access"
                        id="type"
                        v-model="plate_type_id"
                      >
                        <option value>Select a Plate Type</option>
                        <option
                          :selected="violationData.ocr_plate_type_id==item.id"
                          v-for="item in plate_Type"
                          :key="item.id"
                          :value="item.id"
                        >{{item.name}}</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success">Accept</button>
                        <button
                          type="button"
                          class="btn mx-5 btn-primary"
                          @click="submitReview()"
                          style="margin-right: 0px!important;"
                          :disabled="requestInProgress"
                        >Submit</button>
                        <button
                          type="button"
                          class="btn mx-5 btn-danger"
                          style="margin-right: 0px!important;"
                        >Reject</button>
                        <button type="button" class="btn mx-5 btn-secondary">Review</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </section>

    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</template>

<script>
import moment from "moment";
import ImgList from "@/components/carsol.vue";
import x from "../assets/js/State";
import vZoom from "vue-zoom";

export default {
  name: "Dashboard",
  components: {
    ImgList,
    vZoom
  },

  created() {},

  data() {
    return {
      formReady: false,
      violationData: {},
      requestInProgress: false,
      first_name: "",
      last_name: "",
      ocr_plate_state_id: "",
      ocr_plate_type_id: "",
      ocr_plate_number: "",
      ocr_plate_state_full_name: "",
      ocr_plate_type_name: "",
      currentOffset: 0,
      windowSize: 1,
      paginationFactor: 220,
      plate_Type: [
        { id: 1, name: "Passenger Vehicle" },
        { id: 2, name: "Truck" }
      ],
      states: x,
      currentImage: null,
      shiftStartedTime: "2019-04-19T20:25:34.84Z",
      violation_id: "",
      plate_number: "18558",
      plate_type_id: "",
      plate_state_id: "",
      zoomImgWidth: 460
    };
  },
  computed: {
    getShiftTime() {
      return moment(this.violationData.current_session_start_time).format(
        "MMMM Do YYYY, h:mm:ss a"
      );
    }
  },
  methods: {
    getViolationData: function() {
      let u = this.$store.getters.getUser;
      this.first_name = u.first_name;
      this.last_name = u.last_name;
      let _this = this;

      this.$apiservice
        .reqApi("/fetchViaolation")
        .getByBody({
          last_name: _this.last_name,
          first_name: _this.first_name
        })
        .then(function(data) {
          _this.violationData = data.data;
          _this.plate_number = data.data.ocr_plate_number;
          _this.plate_type_id = data.data.ocr_plate_type_id;
          _this.plate_state_id = data.data.ocr_plate_state_id;
          _this.$store.commit("setSelectedImg", _this.violationData.images[0]);
          _this.$store.commit("setFormStatus", true);
          _this.$store.commit("setViolationInfo", data.data);
          _this.formReady = true;
          _this.$eventHub.$emit("formLoaded");
        })
        .catch(function(error) {
          _this.$store.commit("setFormStatus", false);
          swal({
            title: "Failed",
            text: "Data Loading Failed.",
            icon: "error",
            type: "error",
            button: false,
            timer: 1500
          }).then(function() {});
        });
    },
    getViolationDataById: function() {
      let u = this.$store.getters.getUser;
      let vdata = this.$store.getters.getViolationInfo;
      this.first_name = u.first_name;
      this.last_name = u.last_name;
      let _this = this;

      this.$apiservice
        .reqApi("/fetchViaolationById")
        .getById(vdata.violation_id)
        .then(function(data) {
          _this.violationData = data.data;
          _this.plate_number = data.data.ocr_plate_number;
          _this.plate_type_id = data.data.ocr_plate_type_id;
          _this.plate_state_id = data.data.ocr_plate_state_id;
          _this.$store.commit("setSelectedImg", _this.violationData.images[0]);
          _this.$store.commit("setFormStatus", true);
          _this.$store.commit("setViolationInfo", data.data);
          _this.formReady = true;
          _this.$eventHub.$emit("formLoaded");
        })
        .catch(function(error) {
          _this.$store.commit("setFormStatus", false);
          swal({
            title: "Failed",
            text: "Data Loading Failed.",
            icon: "error",
            type: "error",
            button: false,
            timer: 1500
          }).then(function() {});
        });
    },
    submitReview: function() {
      this.requestInProgress = true;
      var _this = this;
      this.$apiservice
        .reqApi("/reviewViolation")
        .post({
          violation_id: this.violationData.violation_id,
          plate_number: this.plate_number,
          plate_type_id: this.plate_type_id,
          plate_state_id: this.plate_state_id
        })
        .then(function(data) {
          _this.requestInProgress = false;
          if (data.status == 200) {
            _this.$store.commit("setFormStatus", false);

            swal({
              title: "Success",
              text: "Reviewed Successfully",
              icon: "success",
              type: "success",
              button: false,
              timer: 1500
            }).then(function() {
              _this.getViolationData();
            });
          }
        })
        .catch(function(error) {
          console.log(error.response);
          _this.requestInProgress = false;
          swal({
            title: "Failed",
            text: "Reviewed Failed",
            icon: "error",
            type: "error",
            button: false,
            timer: 1500
          }).then(function() {});
        });
    }
  },
  created() {
    let vdata = this.$store.getters.getViolationInfo;
    //console.log("vdata ", vdata);
    if (vdata !== null) {
      this.getViolationDataById();
    } else {
      this.getViolationData();
    }
  },
  mounted() {
    this.zoomImgWidth = document.getElementById("imgZoom").clientWidth - 30;
  }
};
</script>

<style scoped>
#imageview {
  background-color: #007bff !important;
  width: 100% !important;
  margin-bottom: 15px;
}
.view {
  color: white;
  font-size: 150%;
  margin-top: 10px;
}
.img {
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin-left: 200px; */
  /* margin-right: 20px; */
}
.carousel-item {
  height: 320px;
}

.container {
  width: 1250px !important;
}
.table-borderless td {
  padding-left: 20px;
  padding-right: 10px;
  /* padding-bottom: 5px; */
}
.b {
  border: 1px solid #ccdddd;
}
.input-size {
  width: 168px;
}
</style>