<template>
  <div class="container">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <b-container fluid>
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h2>
                Manage
                <b>Users</b>
              </h2>
            </div>
            <div class="col-sm-6">
              <a data-toggle="modal" data-target="#addEmployeeModal" class="btn btn-success">
                <i class="material-icons">&#xE147;</i>
                <span>Add New User</span>
              </a>
            </div>
          </div>
        </div>

        <b-row>
          <b-col md="4" class="my-1">
            <b-form-group label-cols-sm="3" label="Filter" class="mb-0">
              <b-input-group>
                <b-form-input v-model="filter" placeholder="Type to Filter"></b-form-input>
                <b-input-group-append>
                  <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>

          <b-col md="4" class="my-1">
            <b-form-group label-cols-sm="3" label="Sort" class="mb-0">
              <b-input-group>
                <b-form-select v-model="sortBy" :options="sortOptions">
                  <option slot="first" :value="null">-- none --</option>
                </b-form-select>
                <b-form-select v-model="sortDesc" :disabled="!sortBy" slot="append">
                  <option :value="false">Asc</option>
                  <option :value="true">Desc</option>
                </b-form-select>
              </b-input-group>
            </b-form-group>
          </b-col>

          <!-- <b-col md="6" class="my-1">
            <b-form-group label-cols-sm="3" label="Sort direction" class="mb-0">
              <b-input-group>
                <b-form-select v-model="sortDirection" slot="append">
                  <option value="asc">Asc</option>
                  <option value="desc">Desc</option>
                  <option value="last">Last</option>
                </b-form-select>
              </b-input-group>
            </b-form-group>
          </b-col>-->

          <b-col md="4" class="my-1">
            <b-form-group label-cols-sm="3" label="Search" class="mb-0">
              <b-input-group>
                <b-form-input v-model="search" placeholder="Type to Search" v-on:keyup="getSearch"></b-form-input>
                <b-input-group-append>
                  <b-button :disabled="!search" @click="search = ''">Clear</b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
        </b-row>
        <br>
        <pulse-loader :loading="loader.status" :color="loader.color" :size="loader.size"></pulse-loader>
        <!-- Main table element -->
        <b-table
          show-empty
          stacked="md"
          :items="items"
          :fields="fields"
          :per-page="perPage"
          :filter="filter"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          @filtered="onFiltered"
        >
          <template slot="name" slot-scope="row">{{ row.value.first }} {{ row.value.last }}</template>

          <template slot="isActive" slot-scope="row">
            <i
              class="material-icons"
              data-toggle="tooltip"
              title="Permission"
              v-if="row.item.is_active"
            >check</i>
            <i class="material-icons" data-toggle="tooltip" title="Permission" v-else>cancel</i>
          </template>

          <template slot="actions" slot-scope="row">
            <a class="edit" @click="editModal(row.item.id)">
              <i class="material-icons edit" data-toggle="tooltip" title="Edit">&#xE254;</i>
            </a>&nbsp;
            <a class="account-check" @click="editPermissons(row.item.id)">
              <i class="material-icons" data-toggle="tooltip" title="Permission">settings</i>
            </a>&nbsp;
            <a
              class="delete"
              @click="deleteUser(row.item.id)"
              v-if="row.item.is_active===true"
            >
              <i class="material-icons delete" data-toggle="tooltip" title="Delete">&#xE872;</i>
            </a>
            <a class="recover" @click="restoreUser(row.item.id)" v-else>
              <i class="material-icons" data-toggle="tooltip" title="Restore User">restore</i>
            </a>
          </template>

          <template slot="row-details" slot-scope="row">
            <b-card>
              <ul>
                <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
              </ul>
            </b-card>
          </template>
        </b-table>

        <b-row>
          <!-- <b-col md="2" class="my-1">
            <b-pagination
              v-model="currentPage"
              :total-rows="totalRows"
              :per-page="perPage"
              class="my-0"
            ></b-pagination>
          </b-col>-->
          <b-col md="2" class="my-1">
            <label>Showing {{totalRows}} Data</label>
          </b-col>
          <b-col md="12" class="my-1">
            <b-button size="md" variant="outline-primary" @click="getUserList(caseno)">Load More</b-button>
          </b-col>
        </b-row>
      </div>
    </b-container>

    <!-- Edit Modal HTML -->
    <div id="addEmployeeModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <h4 class="modal-title">Add User</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" v-model="fname" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" v-model="lname" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Username</label>
                <input type="text" v-model="username" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="text" v-model="usermail" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" v-model="password" class="form-control" required>
              </div>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
              <input type="submit" @click.prevent="addNewUser" class="btn btn-success" value="Add">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="userEditModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <h4 class="modal-title">Edit User Information</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" required v-model="edit_userData.first_name">
              </div>
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" required v-model="edit_userData.last_name">
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" required v-model="edit_userData.email">
              </div>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancel">
              <input type="button" class="btn btn-info" value="Save" @click="saveEditedData">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Permisson Modal HTML -->
    <!-- Edit Modal HTML -->
    <div id="userPermissonModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <h4 class="modal-title">Edit User Role</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div>
                <b-form-group label="User Available Role:">
                  <div v-for="p in permissonInfo" :key="p.role_id">
                    <b-form-checkbox v-model="p.access" style="display:inline"></b-form-checkbox>
                    <span>{{p.role}}</span>
                  </div>
                </b-form-group>
                <!-- <div>
                  Selected Permissons: &nbsp;
                  <p v-for="p in permissonInfo" :key="p.role_id">{{p.role}}</p> 
                </div>-->
              </div>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancel">
              <input type="button" class="btn btn-info" value="Save" @click="savePermissonData">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Permisson Modal HTML -->
    <!-- Delete Modal HTML -->
    <div id="userDeleteModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <h4 class="modal-title">Delete User</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete these Records?</p>
              <p class="text-warning">
                <small>This action cannot be undone.</small>
              </p>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
              <input type="submit" class="btn btn-danger" value="Delete">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script type="text/javascript">
$(document).ready(function() {
  // Activate tooltip
  $('[data-toggle="tooltip"]').tooltip();

  // Select/Deselect checkboxes
  var checkbox = $('table tbody input[type="checkbox"]');
  $("#selectAll").click(function() {
    if (this.checked) {
      checkbox.each(function() {
        this.checked = true;
      });
    } else {
      checkbox.each(function() {
        this.checked = false;
      });
    }
  });
  checkbox.click(function() {
    if (!this.checked) {
      $("#selectAll").prop("checked", false);
    }
  });
});

import PulseLoader from "vue-spinner/src/PulseLoader.vue";
export default {
  components: {
    PulseLoader
  },
  name: "ListUser",
  created() {},
  mounted() {
    this.getUserList();
  },
  data() {
    return {
      items: [],
      fields: [
        {
          key: "name",
          label: "Full name",
          sortable: true
          // sortDirection: "desc"
        },
        {
          key: "username",
          label: "Username",
          sortable: true,
          class: "text-center"
        },
        { key: "isActive", label: "Is Active", sortable: true },
        { key: "actions", label: "Actions" },
        {
          key: "id",
          label: "ID",
          sortable: true,
          thClass: "d-none",
          tdClass: "d-none"
        }
      ],
      totalRows: 0,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "id",
      sortDesc: true,
      sortDirection: "asc",
      filter: null,
      search: null,

      selected: [],
      fname: "",
      lname: "",
      username: "",
      usermail: "",
      password: "",
      user_data: [],
      edit_userData: { user_id: "", email: "", first_name: "", last_name: "" },
      permissonInfo: [],
      currentUserID: "",
      searchFlag: false,
      totalPageData: 1,
      caseno: "case2",
      loader: { status: false, color: "#ffc312", size: "10px" }
    };
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  methods: {
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    refreshUserList() {},

    getUserList: function(c) {
      this.loader.status = true;
      var _this = this;
      this.$apiservice
        .reqApi("/listOfUsers/" + _this.totalPageData)
        .get()
        .then(function(data) {
          if (data.status == 200) {
            var d = data.data;
            if (c != "case2" || _this.searchFlag) {
              _this.totalPageData = 1;
              var ldata = [];
              for (let i = 0; i < d.length; i++) {
                var v = {
                  id: d[i].user_id,
                  name: { first: d[i].first_name, last: d[i].last_name },
                  username: d[i].username,
                  email: d[i].email,
                  is_active: d[i].is_active
                };
                ldata.push(v);
              }
              _this.items = ldata;

              _this.searchFlag = false;
              _this.totalRows = _this.items.length;
              _this.totalPageData += 1;
              _this.perPage = 5;

              _this.loader.status = false;
            } else if (c == "case2" || !_this.searchFlag) {
              for (let i = 0; i < d.length; i++) {
                var v = {
                  id: d[i].user_id,
                  name: { first: d[i].first_name, last: d[i].last_name },
                  username: d[i].username,
                  email: d[i].email,
                  is_active: d[i].is_active
                };
                _this.items.push(v);
              }

              _this.totalRows = _this.items.length;
              _this.totalPageData += 1;
              _this.perPage += 5;
              _this.loader.status = false;
            }
          } else {
            swal({
              title: "Warning",
              text: "No More Data!",
              icon: "warning",
              type: "warning",
              button: false,
              timer: 1500
            });
            _this.loader.status = false;
          }
        })
        .catch(function(error) {
          console.log(error);
          swal({
            title: "Failed",
            text: "Data Loading Failed",
            icon: "error",
            type: "error",
            button: false,
            timer: 1500
          }).then(function() {});
          _this.loader.status = false;
        });
    },

    getUserDetails: function(id) {
      var _this = this;

      this.$apiservice
        .reqApi("/userDetails")
        .getById(id)
        .then(function(data) {
          if (data.status == 200) {
            const d = data.data.access;
            _this.permissonInfo = d;
          }
        })
        .catch(function(error) {
          console.log(error);
          swal({
            title: "Failed",
            text: "Data Loading Failed",
            icon: "error",
            type: "error",
            button: false,
            timer: 1500
          }).then(function() {});
        });
    },

    addUserModal: function() {
      $("#addEmployeeModal").modal("show");
    },
    addNewUser: function() {
      if (
        this.fname.trim().length != 0 &&
        this.lname.trim().length != 0 &&
        this.username.trim().length != 0 &&
        this.usermail.trim().length != 0 &&
        this.password.trim().length != 0
      ) {
        var _this = this;

        this.$apiservice
          .reqApi("/addBasicUser")
          .post({
            first_name: _this.fname,
            last_name: _this.lname,
            username: _this.username,
            email: _this.usermail,
            password: _this.password
          })
          .then(function(data) {
            if (data.status == 201) {
              swal({
                title: "Success",
                text: "User Added Successfully",
                icon: "success",
                type: "success",
                button: false,
                timer: 1500
              }).then(function() {
                _this.getUserList();
                _this.fname = "";
                _this.lname = "";
                _this.username = "";
                _this.usermail = "";
                _this.password = "";
                $("#addEmployeeModal").modal("hide");
              });
            }
          })
          .catch(function(error) {
            console.log(error.response);
            _this.requestInProgress = false;
            swal({
              title: "Failed",
              text: "Adding User Failed",
              icon: "error",
              type: "error",
              button: false,
              timer: 1500
            }).then(function() {});
          });
      }
    },

    editModal: function(id) {
      for (var i = 0; i < this.items.length; i++) {
        // look for the entry with a matching `code` value
        if (this.items[i].id == id) {
          this.edit_userData.user_id = id;
          this.edit_userData.email = this.items[i].email;
          this.edit_userData.first_name = this.items[i].name.first;
          this.edit_userData.last_name = this.items[i].name.last;
          break;
        }
      }
      console.log(this.edit_userData);
      $("#userEditModal").modal("show");
    },

    editPermissons: function(id) {
      this.currentUserID = id;
      this.selectedPermissons = [];
      this.permissonInfo = [];
      this.getUserDetails(id);
      // for (let i = 0; i < this.user_data.length; i++) {
      // if (this.user_data[i].user_id == id) {
      //   this.selected_permissons = this.user_data[i].accessPermissons;
      //   this.current_user_id = id ;
      //   break;
      // }
      // }
      $("#userPermissonModal").modal("show");
    },

    saveEditedData: function() {
      var _this = this;
      this.$apiservice
        .reqApi("/editUserProfile")
        .put({
          user_id: _this.edit_userData.user_id,
          email: _this.edit_userData.email,
          first_name: _this.edit_userData.first_name,
          last_name: _this.edit_userData.last_name
        })
        .then(function(data) {
          _this.getUserList();
          if (data.status == 200) {
            swal({
              title: "Success",
              text: "User Information Updated Successfully",
              icon: "success",
              type: "success",
              button: false,
              timer: 1500
            }).then(function() {
              $("#userEditModal").modal("hide");
              _this.edit_userData = [];
            });
          }
        })
        .catch(function(error) {
          swal({
            title: "Failed",
            text: "User Information Update Failed",
            icon: "error",
            type: "error",
            button: false,
            timer: 1500
          }).then(function() {});
        });
    },

    savePermissonData: function() {
      let _this = this;
      this.$apiservice
        .reqApi("/editAccess/" + _this.currentUserID)
        .put(_this.permissonInfo)
        .then(function(data) {
          if (data.status == 200) {
            swal({
              title: "Success",
              text: "User Access Changed Successfully",
              icon: "success",
              type: "success",
              button: false,
              timer: 1500
            }).then(function() {
              _this.currentUserID = "";
              _this.permissonInfo = [];
              $("#userPermissonModal").modal("hide");
              _this.getUserList();
            });
          }
        })
        .catch(function(error) {
          console.log(error.response);
          _this.requestInProgress = false;
          swal({
            title: "Failed",
            text: "Access Change Failed",
            icon: "error",
            type: "error",
            button: false,
            timer: 1500
          }).then(function() {});
        });
    },

    deleteUser: function(id) {
      // look for the entry with a matching `code` value
      // var u = this.user_data.filter((value,index,arr)=>{
      //          return value.id !=id
      //      })
      //      this.user_data=u
      var _this = this;
      this.$apiservice
        .reqApi("/deleteUser")
        .delete(id)
        .then(function(data) {
          if (data.status == 200) {
            swal({
              title: "Success",
              text: "User Deleted Successfully",
              icon: "success",
              type: "success",
              button: false,
              timer: 1500
            }).then(function() {
              _this.getUserList();
            });
          }
        })
        .catch(function(error) {
          console.log(error.response);
          _this.requestInProgress = false;
          swal({
            title: "Failed",
            text: "Delete User Failed",
            icon: "error",
            type: "error",
            button: false,
            timer: 1500
          }).then(function() {});
        });
    },

    restoreUser: function(id) {
      var _this = this;
      this.$apiservice
        .reqApi("/restoreUserAccount")
        .putByid(id)
        .then(function(data) {
          if (data.status == 200) {
            swal({
              title: "Success",
              text: "User Restored Successfully",
              icon: "success",
              type: "success",
              button: false,
              timer: 1500
            }).then(function() {
              _this.getUserList();
            });
          }
        })
        .catch(function(error) {
          console.log(error.response);
          _this.requestInProgress = false;
          swal({
            title: "Failed",
            text: "Restore User Failed",
            icon: "error",
            type: "error",
            button: false,
            timer: 1500
          }).then(function() {});
        });
    },
    getSearch: function(e) {
      this.loader.status = true;
      if (e.keyCode === 13) {
        var _this = this;
        this.$apiservice
          .reqApi("/searchUser/")
          .postById(this.search)
          .then(function(data) {
            if (data.status == 200) {
              var d = data.data;
              var sResults = [];

              for (let i = 0; i < d.length; i++) {
                var v = {
                  id: d[i].user_id,
                  name: { first: d[i].first_name, last: d[i].last_name },
                  username: d[i].username,
                  email: d[i].email,
                  is_active: d[i].is_active
                };
                sResults.push(v);
              }
              if (sResults != null) {
                _this.items = [];
                _this.totalRows = 0;
                _this.totalPageData = 1;
                _this.items = sResults;
                _this.perPage = sResults.length;
                _this.totalRows = sResults.length;
                _this.searchFlag = true;
              } else {
                swal({
                  title: "Warning",
                  text: "No Search Results Found!",
                  icon: "warning",
                  type: "warning",
                  button: false,
                  timer: 1500
                });
              }
            }
            _this.loader.status = false;
          })
          .catch(function(error) {
            _this.loader.status = false;
            console.log(error.response);
          });
      }
    }
  }
};
</script>

<style scoped>
.table td,
.table th {
  width: 5px;
}
body {
  color: #566787;
  background: #f5f5f5;
  font-family: "Varela Round", sans-serif;
  font-size: 13px;
}
.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  margin: 30px 0;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.table-title {
  padding-bottom: 15px;
  background: #435d7d;
  color: #fff;
  padding: 16px 30px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}
.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}
.table-title .btn-group {
  float: right;
}
.table-title .btn {
  color: #fff;
  float: right;
  font-size: 13px;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}
.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}
.table-title .btn span {
  float: left;
  margin-top: 2px;
}
table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}
table.table tr th:first-child {
  width: 60px;
}
table.table tr th:last-child {
  width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}
table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}
table.table td a:hover {
  color: #2196f3;
}
table.table td a.edit {
  color: #ffc107;
}
table.table td a.delete {
  color: #f44336;
}
table.table td i {
  font-size: 19px;
}
table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}
.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}
/* Custom checkbox */
.custom-checkbox {
  position: relative;
}
.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  margin: 5px 0 0 3px;
  z-index: 9;
}
.custom-checkbox label:before {
  width: 18px;
  height: 18px;
}
.custom-checkbox label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  background: white;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-sizing: border-box;
  z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 3px;
  width: 6px;
  height: 11px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: inherit;
  z-index: 3;
  transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
  border-color: #03a9f4;
  background: #03a9f4;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
  border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
  color: #b8b8b8;
  cursor: auto;
  box-shadow: none;
  background: #ddd;
}
/* Modal styles */
.modal .modal-dialog {
  max-width: 400px;
}
.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
  padding: 20px 30px;
}
.modal .modal-content {
  border-radius: 3px;
}
.modal .modal-footer {
  background: #ecf0f1;
  border-radius: 0 0 3px 3px;
}
.modal .modal-title {
  display: inline-block;
}
.modal .form-control {
  border-radius: 2px;
  box-shadow: none;
  border-color: #dddddd;
}
.modal textarea.form-control {
  resize: vertical;
}
.modal .btn {
  border-radius: 2px;
  min-width: 100px;
}
.modal form label {
  font-weight: normal;
}
.modal-body {
  text-align: left;
}

.footer-wrap {
  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;
}

.edit:hover {
  cursor: pointer;
  color: coral;
}
.delete:hover {
  cursor: pointer;
  color: crimson;
}
.account-check:hover {
  cursor: pointer;
}
.recover:hover {
  cursor: pointer;
}
</style>