<template>
  <div class="container">
    <div class="container d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3>Sign In</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-user"></i>
                </span>
              </div>
              <input
                type="text"
                class="form-control"
                v-model="email"
                name="login"
                placeholder="username"
              >
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-key"></i>
                </span>
              </div>
              <input
                type="password"
                id="password"
                v-model="password"
                class="form-control"
                name="login"
                placeholder="password"
              >
            </div>
            <div class="form-group">
              <pulse-loader :loading="loader.loading" :color="loader.color" :size="loader.size"></pulse-loader>
              <button
                type="submit"
                @click.prevent="checkLogin"
                class="btn float-right login_btn"
                value="Log In"
                :disabled="requestInProgress"
              >Log In</button>
            </div>
          </form>
        </div>

        <div class="d-flex justify-content-center forgotpass">
          <a href @click.prevent="showForgotModal">Forgot your password?</a>
        </div>
      </div>
    </div>
    <!--  Forgot Pass Modal -->
    <div
      class="modal fade"
      id="showForgotModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div align="left" class="modal-body">
            <label>Email</label>
            <input
              class="form-control"
              type="email"
              v-model="forgotEmail"
              placeholder="Enter Your Email For Recovery"
            >
          </div>
          <pulse-loader
            :loading="loader2.loading"
            :color="loader2.color"
            :loadersize="loader2.size"
          ></pulse-loader>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary sb" @click="submitForgotMail">Send Request</button>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <!--  OTP Enter Modal -->
    <div
      class="modal fade"
      id="showOtpModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Password Recovery</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div align="left" class="modal-body">
            <label>Email</label>
            <input
              class="form-control"
              type="email"
              v-model="forgotEmail"
              placeholder="Email"
              disabled
            >
            <label>OTP</label>
            <input
              class="form-control"
              type="email"
              v-model="otp"
              placeholder="One Time Password(OTP)"
            >
            <label>Password</label>
            <input
              class="form-control"
              type="password"
              v-model="fg.newpassword"
              placeholder="New Password"
            >
            <label>Confirm Password</label>
            <input
              class="form-control"
              type="password"
              v-model="fg.confirmpassword"
              placeholder="Cofirm Password"
            >
          </div>
          <pulse-loader
            :loading="loader3.loading"
            :color="loader3.color"
            :loadersize="loader3.size"
          ></pulse-loader>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary sb" @click="submitOTP">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</template>

<script>
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
export default {
  components: {
    PulseLoader
  },
  created() {
    if (this.$store.getters.getLoggedInStatus) {
      this.$router.push({ name: "dashboard" });
    } else {
      this.$router.push({ name: "signin" });
    }
  },
  data() {
    return {
      email: "",
      password: "",
      requestInProgress: false,
      loader: { loading: false, color: "#ffc312", size: "10px" },
      loader2: { loading: false, color: "#ffc312", size: "10px" },
      loader3: { loading: false, color: "#ffc312", size: "10px" },
      forgotEmail: "",
      fg: { newpassword: "", confirmpassword: "" },
      otp: ""
    };
  },
  methods: {
    checkLogin: function() {
      //this.requestInProgress = true;
      var _this = this;
      this.loader.loading = true;
      this.$apiservice
        .reqApi("/login")
        .post({
          username: this.email,
          password: this.password
        })
        .then(function(data) {
          if (data.status == 201) {
            _this.$store.commit("setUserData", data.data);
            _this.$store.commit("setLoginStatus", true);
            _this.$store.commit("setUserRole", data.data.access);

            swal({
              title: "Success",
              text: "Signin Successful",
              icon: "success",
              type: "success",
              button: false,
              timer: 1500
            }).then(function() {
              _this.loader.loading = false;
              if (_this.$store.getters.getUserRole == "admin") {
                _this.$router.push({ name: "dashboard" });
              } else {
                _this.$router.push({ name: "dashboard" });
              }
            });
          }
        })
        .catch(function(error) {
          console.log(error.response);
          _this.loader.loading = false;
          swal({
            title: "Failed",
            text: "Signin Failed",
            icon: "error",
            type: "error",
            button: false,
            timer: 1500
          }).then(function() {});
        });
    },
    showForgotModal: function() {
      console.log("test");
      $("#showForgotModal").modal("show");
    },
    hideForgotModal: function() {
      $("#showForgotModal").modal("hide");
    },

    submitForgotMail: function() {
      if (this.forgotEmail.length > 0) {
        //this.requestInProgress = true;
        var _this = this;
        this.loader2.loading = true;
        this.$apiservice
          .reqApi("/requestOtp")
          .post({
            email: this.forgotEmail
          })
          .then(function(data) {
            if (data.status == 201) {
              _this.loader2.loading = false;
              swal({
                title: "Success",
                text: "An One Time Password(OTP) Hasbeen Sent To The Email",
                icon: "success",
                type: "success",
                button: false,
                timer: 4000
              }).then(function() {
                $("#showForgotModal").modal("hide");
                $("#showOtpModal").modal("show");
              });
            }
          })
          .catch(function(error) {
            console.log(error.response);
            _this.loader2.loading = false;
            swal({
              title: "Failed",
              text: "Email Not Registered",
              icon: "error",
              type: "error",
              button: false,
              timer: 1500
            }).then(function() {
              $("#showForgotModal").modal("hide");
              _this.forgotEmail = "";
            });
          });
      } else {
        swal({
          title: "Warning",
          text: "Email Field Is Empty",
          icon: "warning",
          type: "warning",
          button: false,
          timer: 1500
        });
      }
    },
    submitOTP: function() {
      if (
        this.fg.newpassword == this.fg.confirmpassword &&
        this.fg.newpassword.length >= 6 &&
        this.otp.length > 0
      ) {
        console.log("test");
        var _this = this;
        this.loader3.loading = true;

        this.$apiservice
          .reqApi("/recoverPassword")
          .post({
            email: _this.forgotEmail,
            otp: _this.otp,
            password: _this.fg.confirmpassword
          })
          .then(function(data) {
            if (data.status == 201) {
              _this.loader3.loading = false;
              swal({
                title: "Success",
                text: "Password Recovery Successful",
                icon: "success",
                type: "success",
                button: false,
                timer: 4000
              }).then(function() {
                $("#showOtpModal").modal("hide");
                _this.email = "";
                _this.otp = "";
                _this.fg.newpassword = "";
                _this.fg.confirmpassword = "";
              });
            }
          })
          .catch(function(error) {
            console.log(error.response);
            _this.loader3.loading = false;
            swal({
              title: "Failed",
              text: "Password Recovery Failed",
              icon: "error",
              type: "error",
              button: false,
              timer: 1500
            }).then(function() {
              $("#showOtpModal").modal("hide");
              _this.email = "";
              _this.otp = "";
              _this.fg.newpassword = "";
              _this.fg.confirmpassword = "";
            });
          });
      } else if (
        this.fg.newpassword != this.fg.confirmpassword ||
        this.fg.newpassword.length < 6
      ) {
        swal({
          title: "Warning",
          text: "Enter Your 6-Digit Password Correctly",
          icon: "warning",
          type: "warning",
          button: false,
          timer: 1500
        });
      } else if (this.otp.length < 0) {
        swal({
          title: "Warning",
          text: "Enter Your OTP Into OTP Field",
          icon: "warning",
          type: "warning",
          button: false,
          timer: 1500
        });
      }
    }
  }
};
</script>
<style scoped>
@import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Numans", sans-serif;
}

.container {
  height: 100%;
  align-content: center;
  align-items: center;
  margin-top: 7rem;
}

.card {
  height: 19rem;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: #f8f9fa !important;
}

.card-header h3 {
  color: black;
}
.card-footer {
}
.input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}
.forgotpass {
  padding-bottom: 25px;
}
.sb {
  color: black;
  background-color: #ffc312;
  border-color: #ffc312;
}
</style>