<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <router-link to="/dashboard" class="navbar-brand" href="#" id="navbrand">iTolling</router-link>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item active">
            <router-link to="/dashboard" class="nav-link" >
              Home
              <span class="sr-only">(current)</span>
            </router-link>
          </li>-->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>-->
          <li class="nav-item dropdown mr-3" v-if="isLoggedIn">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-user"></i>
              Welcome {{$store.state.user.first_name}}
            </a>
            <div class="dropdown-menu">
              <a href class="dropdown-item" v-if="getRole === 'admin'" @click.prevent="routeListUser">
                <!-- @click.prevent="routeListUser" v-if="getRole === 'admin'" -->
                <i class="fas fa-cog"></i> List User
              </a>
              <a href class="dropdown-item" @click.prevent="routeChangePassword">
                <i class="fas fa-cog"></i> Change Password
              </a>
            </div>
          </li>
          <li class="nav-item c-p" v-if="isLoggedIn">
            <a @click="logout" class="nav-link">
              <i class="fas fa-user-times"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
export default {
  name: "AppHeader",
  created() {},
  mounted() {},
  data() {
    return {};
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.getLoggedInStatus;
    },
    getRole() {
      return this.$store.getters.getUserRole;
    }
  },
  methods: {
    routeListUser: function() {
      this.$router.push({ name: "listuser" });
    },
    routeChangePassword: function() {
      this.$router.push({ name: "change-password" });
    },
    logout: function() {
      this.$store.commit("setUserData", null);
      this.$store.commit("setLoginStatus", false);
      this.$router.push({ name: "signin" });
    }
  }
};
</script>
<style scoped>
#navbrand {
  font-weight: bold;
}
.c-p {
  cursor: pointer;
}
</style>

