<template>
  <section class="carsol-list">
      <b-container class="main-container">
          <b-row>
            <carousel 
              :paginationEnabled="false" 
              :minSwipeDistance="2" 
              :autoplay="false" 
              :loop="false"  
              :navigationEnabled="true" 
              :perPageCustom="[[200, 1],[320, 2],[480, 2], [768, 3], [992, 4], [1200,4], [1400, 4], [1600, 4]]"
              :centerMode="true">
              <slide v-for="(item, index) in images" :key="index" class="img-item">
                  <b-img thumbnail fluid :src="'https://ir.latticeit.co.za'+item" @click="setImg(item)" />
              </slide>
            </carousel>
          </b-row>
      </b-container>
  </section>
</template>

<script>
export default {
  props: ['images'],
  data(){
    return{
      images_: [ 
        // require("@/assets/images/E1NU5KU2"),
        // require("@/assets/images/E1NU5KU2-1"),
        // require("@/assets/images/I4NZPXQ2.001"),
        // require("@/assets/images/IRNDN79B.001"),
        // require("@/assets/images/J5F40QO2.001"),
        // require("@/assets/images/E1NU5KU2-6")
      ],
    }
  },

  methods:{
        setImg: function(img){
          console.log("set to store ", img);
            this.$store.commit("setSelectedImg", img);
        }
  },

  mounted(){
    // this.getLivetvChannel()
    //console.log("carsol mounted ", this.images);
  }

}
</script>

<style>
.carsol-list .VueCarousel-navigation {
    /* position: absolute;
    right: 50px;
    top: -55px; */
}
.carsol-list .VueCarousel-navigation-button[data-v-453ad8cd] {
    cursor: pointer;
    outline: none;
    padding: 0px 10px!important;
    margin-right: -5px!important;
    height: 30px;
    border-radius: 2px;
}

.VueCarousel-slide.img-item img{
    /* height: 320px !important;
    width: 420px !important */
    width: 300px;
    height: 260px
}
</style>
